.music-card-container{
  display: inline-flex;
  gap: 20px;
  flex-flow: row wrap;
  // justify-content: space-evenly;
  // background-color: rgb(41, 29, 70);
  margin:20px 50px;
}
@media only screen and (max-width: 970px) {
  .music-card-container {
    height: 90vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}